.textGradient{
	background: -webkit-linear-gradient(180deg, #f68b44, #ff7800);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.projTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  border-bottom: 3px solid #FE8415;
  letter-spacing: 3px;
  margin-top: 100px;
}

.container-principale {
    display: flex;
    max-height: 100vh;
    width: 100%;
}

.left-column {
  flex: 55%;
  margin-left: 0;

}

.right-column {

    flex: 40%;
    margin-right: 2.5%;
}


/* Griglia della Visualizzazione Fornitori */
.grid-container{

    overflow: auto;
	/*height: calc(100% - 270px);*/
	justify-items: center;
	align-items: center;
	margin-left:7.5%;
  	width:85%;
  	margin-bottom: 5%;

}



.grid{

    display: grid;
    justify-items: center;
    grid-gap:0;
    row-gap:0;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 50px;

}

/* Gestione delle Card nella Pagina */

.container{
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);
    align-items: stretch;
}


.container .card:hover .face.face1{
    background: #ff7800;
    transform: translateY(0);
}

.container .card .face.face1 .content img{
    width: 300px;
    height: 75%;
}

.container .card .face.face1 .content h3{
    margin-top: 10px;

    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;

}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 25px rgb(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    text-align: center;
}


.container .card .face.face2 .content a{
    margin: 5px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/* Fade in della barra della pagina  */
.fade-in{opacity: 0;transform: translateY(10vh); transition: all 1s cubic-bezier(.215, .61, .355, 1);}
.fade-in.in-page{opacity: 1;transform: translateY(0vh);}

.label{
    color: #ff7800;
    font-size: 20px;
    margin-right: 2%;
}
.input{
    align-items: center;
    border: 1px solid #ff7800;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
    background-color: white;
    color: black;
    margin-right: 10%;
}
.select{
    border: 1px solid #ff7800;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
    background-color: white;
    color: black;
    font-family: "Times New Roman", cursive;
    font-size: 16px;

}

.divisione_dati{
    padding-bottom: 5%;
    display: flex;

    align-items: center;
}

@media(max-width: 2800px){

    .container .card .face{
        width: 200px;
        height: 200px;
        transition: 0.5s;
}
    .container .card .face.face1 .content img{
        width: 200px;
        height: 75%;
}

    .container2 .card2 .face3{
        width: 200px;
        height: 200px;
        transition: 0.5s;
}
    .container2 .card2 .face3.face4 .content2 img{
        width: 200px;
        height: 75%;
}

}