
/* Reset di base per alcuni elementi per assicurarsi che si comportino in modo coerente tra i browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra orizzontalmente */
    gap: 5%;
    margin: 10px;
    margin-top: 7%;
}

.sezione-foto {
    flex-basis: calc(33% - 20px);
    padding: 10px;
}
.sezione-info {
    flex-basis: 33%; /* Aumentato da 33% */
    padding: 10px;
}

.sezione-orari {
    flex-basis: 20%; /* Ridotto da 33% */
    padding: 10px;
}

/* Stili per la sezione delle foto */
.sezione-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.foto-contenitore {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.foto-box {
    width: 575px;
    height: 375px;
    background-color: #c4c4c4;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.foto-box_2 {
    width: 150px;
    height: 100px;
    background-color: #c4c4c4;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/* Stili per il modulo delle informazioni personali */
#moduloContatto {
    max-width: 85%;
    margin: 20px auto;
    margin-bottom: 40px;
}

.griglia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.colonna {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="date"],
.campo textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid orange;
    outline: none;
}

.campo.grande {
    grid-column: 1 / -1;
}

.campo.grande textarea {
    height: 100px;
    border: 2px solid orange;
     border-radius: 5px;
}

.campo input[type="submit"] {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    grid-column: 1 / -1;
}

.campo input[type="submit"]:hover {
    background-color: darkorange;
}

/* Stili per la sezione degli orari di lavoro */
.table-container {
    width: 100%;
    margin-top: 20px;

}

.table-container th, .table-container td {
    padding: 8px;
    border: none; /* Rimossi i bordi della tabella */
}


.table-container th.day-cell {
     background-color: white; /* Sfondo bianco */
    color: black; /* Testo nero */
    border: 2px solid orange; /* Bordo arancione */
    border-radius: 5px; /* Angoli arrotondati leggermente */
    padding: 5px; /* Aggiungi o modifica il padding se necessario */
    text-align: center; /* Allinea il testo al centro se desiderato */
}

.table-container th, .table-container td {
    border: none;
    padding:8px;
}
.table-container input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid orange;
    outline: none;
}




.sezione-tabella {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.sezione-tabella table {
    width: 100%;
    border-collapse: collapse;
}

.sezione-tabella th, .sezione-tabella td {
    padding: 5px;
    text-align: left;
}

.sezione-tabella th {
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
}

.sezione-tabella th:first-child, .sezione-tabella td:first-child {
    width: 20%; /* Più larga per la prima colonna */
}

.sezione-tabella th:not(:first-child), .sezione-tabella td:not(:first-child) {
    width: 8%; /* Più stretta per le altre colonne */
}

.sezione-tabella input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



/* Stili responsive */
@media (max-width: 768px) {
    .sezione-foto, .sezione-info, .sezione-orari {
        flex-basis: 100%;
    }
}
