.body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  .container {
    display: flex;
    max-width: 100%;
    margin-top: 80px;

  }
  .left-column, .right-column {
    flex: 1;
    padding: 20px;
  }

  .event {
    margin-bottom: 20px;
  }
  .event img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px; /* Curva leggermente gli angoli dell'immagine */
  }
  .event a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: darkorange; /* Sostituisci con il colore desiderato */
  }
  .right-column {

    border-left: 2px white; /* Linea di divisione tra le colonne */
    padding-left: 40px; /* Spazio dalla linea di divisione */
  }
  .right-column h2, .left-column h2 {
    color: darkorange; /* Sostituisci con il colore desiderato */
    margin-bottom: 20px;
  }
  .right-column input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid darkorange; /* Sostituisci con il colore desiderato */
  }
  .right-column button {
    background-color: darkorange; /* Sostituisci con il colore desiderato */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin-top: 20px;
    cursor: pointer;
  }
  .sidebar {
    width: 250px; /* Larghezza della sidebar */
    height: 100vh; /* Altezza della viewport */
    overflow-y: auto; /* Mostra la barra di scorrimento se il contenuto supera l'altezza della viewport */
    position: fixed; /* Fissa la sidebar a sinistra */
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #eee; /* Colore di sfondo della sidebar */
    padding: 20px; /* Padding interno della sidebar */
  }
  .content {
    margin-left: 250px; /* Spazio per la sidebar */
    padding: 20px; /* Padding intorno al contenuto */
  }
.containerEventi{
  overflow: auto;
  max-height: 500px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adatta questo in base alla larghezza desiderata delle tue immagini */
  gap: 10px; /* Distanza tra le immagini */
}

.grid-item {
  position: relative;
  border-radius: 10px; /* Per angoli arrotondati */
  overflow: hidden; /* Nasconde tutto ciò che esce dall'area dell'immagine */
}

.grid-item img {
 max-width: 250px;
  max-height: 250px; /* Assicurati che l'immagine si adatti alla griglia */
  display: block; /* Rimuove eventuali margini extra */
}

/* CSS base che hai già */

/* Media query per tablet */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left-column, .right-column {
    flex: none;
    width: 100%;
    padding: 10px;
  }
  .right-column {
    border-left: none;
    padding-top: 20px;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/* Media query per dispositivi mobili */
@media (max-width: 480px) {
  .left-column, .right-column {
    padding: 5px;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Una colonna per le immagini su dispositivi mobili */
  }
  .grid-item img {
    width: 100%; /* Le immagini occupano tutta la larghezza della colonna */
    height: auto;
  }
  .right-column input[type="text"], .right-column button {
    width: calc(100% - 20px); /* Prende in considerazione il padding */
  }
  .sidebar {
    width: 100%; /* Sidebar a piena larghezza su dispositivi mobili */
    position: relative; /* O static, a seconda di come desideri che si comporti */
    height: auto;
    overflow-y: visible;
  }
  .content {
    margin-left: 0;
  }
}

/* Puoi aggiungere ulteriori media queries per altri punti di rottura se necessario */

