
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.header, .main, .side {
    padding: 10px;
}


.header {
    flex-basis: 100%;
    text-align: center;
}


input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus, select:focus, textarea:focus {
    background-color: #ddd;
    outline: none;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


@media screen and (max-width: 768px) {
    .side {
        flex-basis: 100%;
    }

    .main {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }
}
