body {
    font-family: 'Arial', sans-serif;
    background-color: #00ff03;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(#ffffff, #ffA500);
}

.login-container {
    background-image: linear-gradient(#13bcc7, #ffA500);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    border: #00ff0e;
}


h2 {
    margin-bottom: 20px;
    color: #4e14c7;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #00ff0e; /* Arancione chiaro /
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #ffa500; / Arancione chiaro /
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff8c00; / Arancione più scuro al passaggio del mouse */
}