body, html {
    height: 100%;
    margin: 0;
    font-family: 'Brush Script MT',cursive;
    font-size: 24px;
}

.container {
    background-image: url('../images/Crea.jpg'); /* sostituisci con il percorso corretto dell'immagine */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 5px;
    width: 400px; /* o la larghezza desiderata */
}

select,
input[type=date],
input[type=number]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: darkorange;
}
.button {
    background-color: darkorange;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
  }


label {
    display: block;
}

