<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Fornitore</title>
    <link rel="stylesheet" type="text/css" href="../static/style/AreaFornitore.css">
</head>



<body>
<header>
{% include 'Header.html' %}
</header>


<div class="container">
    <div class="sezione-foto">
        <div class="foto-box">Aggiungi foto</div>
        <div class="foto-contenitore">
            <div class="foto-box_2">Aggiungi foto</div>
            <div class="foto-box_2">Aggiungi foto</div>
            <div class="foto-box_2">Aggiungi foto</div>
        </div>
    </div>


    <div class="sezione-info">
        <form id="moduloContatto">

            <div class="griglia">

                <div class="colonna">
                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome">
                    </div>
                    <div class="campo">
                        <label for="cognome">Cognome</label>
                        <input type="text" id="cognome" name="cognome">
                    </div>
                    <div class="campo">
                        <label for="telefono">Telefono</label>
                        <input type="tel" id="telefono" name="telefono">
                    </div>

                    <div class="campo">
                        <label for="partitaiva">Partita Iva</label>
                        <input type="text" id="partitaiva" name="partitaiva">
                    </div>
                </div>


                <div class="colonna">
                    <div class="campo">
                        <label for="dataNascita">Data di nascita</label>
                        <input type="date" id="dataNascita" name="dataNascita">
                    </div>
                    <div class="campo">
                        <label for="citta">Città</label>
                        <input type="text" id="citta" name="citta">
                    </div>
                    <div class="campo">
                        <label for="via">Via</label>
                        <input type="text" id="via" name="via">
                    </div>

                    <div class="campo">
                        <label for="eventomassimogiornaliero">Eventi Massimo Giornaliero</label>
                        <input type="text" id="eventomassimogiornaliero" name="eventomassimogiornaliero">
                    </div>

                </div>
            </div>
            <div class="campo grande">
                <label for="descrizione">Descrizione</label>
                <textarea id="descrizione" name="descrizione" maxlength="500"></textarea>
            </div>
            <div class="campo">
                <input type="submit" value="Invia">
            </div>
        </form>
    </div>


    <div class="sezione-orari">
        <table class="table-container">
            <tr>
                <th class="header-cell"></th>
                <th class="header-cell" colspan="2">mattina</th>
                <th class="header-cell" colspan="2">sera</th>
            </tr>
            <tr>
                <th class="day-cell">lun</th>
                <td><input type="text" name="lun_mattina_inizio"></td>
                <td><input type="text" name="lun_mattina_fine"></td>
                <td><input type="text" name="lun_sera_inizio"></td>
                <td><input type="text" name="lun_sera_fine"></td>
            </tr>
            <tr>
                <th class="day-cell">mar</th>
                <td><input type="text" name="mar_mattina_inizio"></td>
                <td><input type="text" name="mar_mattina_fine"></td>
                <td><input type="text" name="mar_sera_inizio"></td>
                <td><input type="text" name="mar_sera_fine"></td>
            </tr>
            <tr>
                <th class="day-cell">mer</th>
                <td><input type="text" name="mer_mattina_inizio"></td>
                <td><input type="text" name="mer_mattina_fine"></td>
                <td><input type="text" name="mer_sera_inizio"></td>
                <td><input type="text" name="mer_sera_fine"></td>
            </tr>
            <tr>
                <th class="day-cell">gio</th>
                <td><input type="text" name="gio_mattina_inizio"></td>
                <td><input type="text" name="gio_mattina_fine"></td>
                <td><input type="text" name="gio_sera_inizio"></td>
                <td><input type="text" name="gio_sera_fine"></td>
            </tr>
            <tr>
                <th class="day-cell">ven</th>
                <td><input type="text" name="ven_mattina_inizio"></td>
                <td><input type="text" name="ven_mattina_fine"></td>
                <td><input type="text" name="ven_sera_inizio"></td>
                <td><input type="text" name="ven_sera_fine"></td>
            </tr>
            <tr>
                <th class="day-cell">sab</th>
                <td><input type="text" name="sab_mattina_inizio"></td>
                <td><input type="text" name="sab_mattina_fine"></td>
                <td><input type="text" name="sab_sera_inizio"></td>
                <td><input type="text" name="sab_sera_fine"></td>
            </tr>
            <tr>
                <th class="day-cell">dom</th>
                <td><input type="text" name="dom_mattina_inizio"></td>
                <td><input type="text" name="dom_mattina_fine"></td>
                <td><input type="text" name="dom_sera_inizio"></td>
                <td><input type="text" name="dom_sera_fine"></td>
            </tr>
        </table>
    </div>


<div class="contenitore-bottoni">
    <button id="modal-buttonAF" class="modalButtonAF">Aggiungi Servizio</button>

    <button id="nuovo-bottone" class="modalButtonAF">Pubblica Evento</button>
</div>

<div id="myModalAF" class="modalAF">
	<div class="modal-containerAF slideDown" id="modal-containerAF">
<div>
        <span id="closeModalAF" style="cursor:pointer;">&times;</span>

        <h2>Aggiungi Servizio</h2>

        <form method="POST" action="/aggiungi_servizio" enctype="multipart/form-data">
            <div class="container-modale">
            <div class="left-column">
            <label for="description">Descrizione:</label>
                <input type="text" id="description" name="descrizione"><br><br>
            <label for="type">Tipo:</label>
                <input type="text" id="type" name="tipo"><br><br>
            <label for="price">Prezzo:</label>
                <input type="number" id="price" name="prezzo"><br><br>
                </div><div class="right-column">

            <label for="quantity">Quantità:</label>
                <input type="number" id="quantity" name="quantità"><br><br>

                #gestione immagini
            <label for="photo">Foto:</label>
            <input type="file" id="fileInput" name="photos" multiple="multiple"><br>
            <ul id="selectedFileList"></ul>


            <label for="supplier">Fornitore:</label>
                <input type="text" id="supplier" name="fornitore_associato"><br><br>
                </div>
            </div>
            <input type="submit" value="Aggiungi">
        </form>
    </div>
        </div>
    </div>




<div class="sezione-tabella">
    <table>
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>Tipo</th>
                <th>Prezzo</th>
                <th>Data inizio</th>
                <th>Data fine</th>
                <th>Quantità</th>
                <th>Foto</th>
                <th>Fornitore</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody>
        {% for servizio in servizi %}
            <tr>
            <form method="POST" action="{{ url_for('Fornitori.modifica_servizio', servizio_id=servizio._id) }}">
                <td><input type="text" name="descrizione" value="{{ servizio.descrizione }}"></td>
                <td><input type="text" name="tipo" value="{{ servizio.tipo }} "></td>
                <td><input type="text" name="prezzo" value="{{ servizio.prezzo }} "></td>
                <td><input type="text" name="data_inizio" value="{{ servizio.disponibilita_data_inizio }}"></td>
                <td><input type="text" name="data_fine" value="{{ servizio.disponibilita_data_fine }}"></td>
                <td><input type="text" name="quantità" value="{{ servizio.quantita }}"></td>
                <td><input type="text" name="foto"  value="{{ servizio.foto_servizio }}"></td>
                <td><input type="text" name="elimina"></td>
                <td>   <button type="submit"> modifica </button></td>
            </form>
                <td> <button type="button" value="{{ servizio._id }}"> <a href="{{ url_for('Fornitori.elimina_servizio', servizio_id=servizio._id) }}"><lord-icon
                 src="https://cdn.lordicon.com/wpyrrmcq.json"
                 trigger="hover"
                 style="width:25px;height:25px;background-color: white">
                </lord-icon></a></button></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>





</div>



</div>

</div>



<script src="https://cdn.lordicon.com/lordicon.js"></script>
<script src="../static/js/AreaFornitore.js"></script>


</body>
</html>


