    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Area Organizzatore</title>
        <link rel="stylesheet"  type="text/css" href="../static/style/AreaOrganizzatore.css">
    </head>
    <body clas="body">
    <header>
        {% include 'Header.html' %}
    </header>

    <div class="container">
      <!-- Colonna Sinistra: I Tuoi Eventi -->
      <div class="left-column">
        <h2>I Tuoi Eventi</h2>

    <div class="containerEventi">   <!-- Repeti il seguente blocco per ogni evento -->
        <div class="event">
                <div class="grid-container">
                  <div class="grid-item">
                    <img src="../static/images/Crea.jpg" alt="Evento 1">
                    <a href="#" >Scheda Completa »</a>
                  </div>
                  <div class="grid-item">
                    <img src="../static/images/Crea.jpg" alt="Evento 2">
                    <a href="#">Scheda Completa »</a>
                  </div>
                  <!-- Ripeti per altre immagini -->
        </div>
        </div>
         <div class="event">
                <div class="grid-container">
                  <div class="grid-item">
                    <img src="../static/images/Crea.jpg" alt="Evento 1">
                    <a href="#" >Scheda Completa »</a>
                  </div>
                  <div class="grid-item">
                    <img src="../static/images/Crea.jpg" alt="Evento 2">
                    <a href="#">Scheda Completa »</a>
                  </div>
                  <!-- Ripeti per altre immagini -->
        </div>
        </div>
         <div class="event">
                <div class="grid-container">
                  <div class="grid-item">
                    <img src="../static/images/Crea.jpg" alt="Evento 1">
                    <a href="#" >Scheda Completa »</a>
                  </div>
                  <div class="grid-item">
                    <img src="../static/images/Crea.jpg" alt="Evento 2">
                    <a href="#">Scheda Completa »</a>
                  </div>
                  <!-- Ripeti per altre immagini -->
        </div>
        </div>


    </div>
        <!-- Fine blocco evento -->
        <!-- Aggiungi altri blocchi evento come necessario -->
      </div>

      <!-- Colonna Destra: I Tuoi Dati -->
      <div class="right-column">
        <h2>I Tuoi Dati</h2>
        <form>
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome">
          <label for="cognome">Cognome</label>
          <input type="text" id="cognome" name="cognome">
          <label for="telefono">Telefono</label>
          <input type="text" id="telefono" name="telefono">
          <button type="submit">Modifica</button>
        </form>
      </div>
    </div>
    </body>
    </html>