<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Page</title>

<link rel="stylesheet"  type="text/css" href="../static/style/EventoPubblico.css">

</head>
<div>

<div class="container">
    <div class="colonna-sx">
        <input type="text" id="event-title" placeholder="TITOLO DELL'EVENTO">
        <input type="text" id="event-date" placeholder="DATA">
        <input type="text" id="event-time" placeholder="ORA">
        <input type="text" id="event-location" placeholder="LUOGO">
    </div>

    <div class="colonna-cen">

    <div class="sezione-foto">
        <div class="foto-box">Aggiungi foto</div>
        <div class="foto-contenitore">
            <div class="foto-box_2">Aggiungi foto</div>
            <div class="foto-box_2">Aggiungi foto</div>
            <div class="foto-box_2">Aggiungi foto</div>
        </div>
    </div>

        <textarea id="event-description" placeholder="DESCRIZIONE"></textarea>

    </div>
    <div class="colonna-dx">
        <input type="number" id="tickets-available" placeholder="BIGLIETTI DISPONIBILI">
        <input type="text" id="supplier" placeholder="Fornitori">
        <select id="event-type">
            <option value="">Seleziona tipo di evento</option>
            <option value="Disco Party">DiscoParty</option>
            <option value="Opera Teatrale">Teatro</option>
            <option value="Festival">Concerto</option>
            <option value="Altro">Altro</option>

        </select>
    </div>



</div>
<div style="display:flex; justify-content:center; justify-items: center;">
<button class="button" onclick="pubblicaEvento()">Pubblica Evento</button>
</div>

<script>
    function pubblicaEvento() {

      alert("Evento pubblicato con successo!");

    }
  </script>
<script src="../static/js/EventoPubblico.js"></script>
</body>
</html>
