<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Visualizza Recensioni</title>
<link rel="stylesheet"  type="text/css" href="../static/style/EventoDettagli.css">
</head>
<body>


<header>
{% include 'Header.html' %}
</header>

<p class="projTitle textGradient watch fade-in"> Recensisci i servizi per il tuo evento </p>

    {% for servizio in servizi %}

        <div class="review-container">
        <h2>{{ servizio.Tipo}}</h2>

        <p>Valuta la tua esperienza e raccontaci com'è stata... </p>
        <p>{{  servizio.Descrizione}}</p> <br>
        <form action="/invio_Feedback" method="post">

            <div class="rating-details">
            <label>Valuta il servizio offerto:</label>
           <div id="rating-{{ servizio._id }}" class="star-rating">
                    <input type="radio" id="star-5-{{ servizio._id }}" name="valutazione" value="5"><label for="star-5-{{ servizio._id }}">&#9733;</label>
                    <input type="radio" id="star-4-{{ servizio._id }}" name="valutazione" value="4"><label for="star-4-{{ servizio._id }}">&#9733;</label>
                    <input type="radio" id="star-3-{{ servizio._id }}" name="valutazione" value="3"><label for="star-3-{{ servizio._id }}">&#9733;</label>
                    <input type="radio" id="star-2-{{ servizio._id }}" name="valutazione" value="2"><label for="star-2-{{ servizio._id }}">&#9733;</label>
                    <input type="radio" id="star-1-{{ servizio._id }}" name="valutazione" value="1"><label for="star-1-{{ servizio._id }}">&#9733;</label>
                </div>
            </div>
            <button class="button_recensione" id="submit-review" name="valutato" value="{{ servizio._id }}">Invia</button>

        </form>
        </div>

    {% endfor %}



<script src="../static/js/ScritturaRecensioni.js"></script>
</body>
</html>
