<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Page</title>

<link rel="stylesheet"  type="text/css" href="../static/style/EventoPubblico.css">

</head>
<body>
<header>


</header>

<div>
    <form action="/crea_evento_pubblico" method="post">
<div class="container">
    <div class="colonna-sx">
        <input type="text" id="event-title" placeholder="TITOLO DELL'EVENTO" name="nome" required>
        <input type="date" id="event-date" placeholder="DATA" name="data" pattern="\d{2}-\d{2}-\d{4}" placeholder="DD-MM-YYYY">
        <input type="text" id="event-time" placeholder="ORA" name="ora" pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" placeholder="HH:mm">

    </div>

    <div class="colonna-cen">

        <input type="file" id="fileInput" name="photo" ><br>
            <ul id="selectedFileList"></ul>

        <textarea id="event-description" placeholder="DESCRIZIONE" name="descrizione"></textarea>

    </div>
    <div class="colonna-dx">
        <input type="number" placeholder="BIGLIETTI DISPONIBILI" name="n_persone" min="1" max="1000">
        <input type="number"  placeholder="servizi_associati" name="servizi_associati" value="momentaneo" required>
        <select id="event-type" name="tipo">
            <option value="">Seleziona tipo di evento</option>
            <option value="Disco Party">DiscoParty</option>
            <option value="Opera Teatrale">Teatro</option>
            <option value="Festival">Concerto</option>
            <option value="Altro">Altro</option>
        </select>
         <select id="event-type" name="servizi">
             {% for servizio in servizi %}
            <option value="{{ servizio._id }}">{{ servizio.descrizione }}</option>
             {% endfor%}
        </select>
    </div>



</div>
<div style="display:flex; justify-content:center; justify-items: center;">
<button class="button" type="submit">Pubblica Evento</button>
</div>
</form>
<script>
    function pubblicaEvento() {

      alert("Evento pubblicato con successo!");

    }
  </script>
<script src="../static/js/EventoPubblico.js"></script>
</div>
</body>
</html>
