<!DOCTYPE html>
<html lang="it">
<head>
        <title></title>
        <link rel="stylesheet" href="../static/style/Header.css">


</head>
<header class="header">
<div class="header__content">

    {% if session.get('nome_utente') %}
        {% if session.get('ruolo') == "2" %}
            <form action="{{ url_for('aut.home_organizzatore') }}"><button style="border: none; background: transparent; cursor: pointer;"><img class="header__logo" src="../static/images/Logo.jpg" alt="Logo BEvent" width="1000" height="1000"></button></form>
        {% else %}
            <form action="{{ url_for('views.home') }}"><button style="border: none; background: transparent; cursor: pointer;"><img class="header__logo" src="../static/images/Logo.jpg" alt="Logo BEvent" width="1000" height="1000"></button></form>
        {% endif %}
    {% else %}
        <form action="{{ url_for('views.home') }}"><button style="border: none; background: transparent; cursor: pointer;"><img class="header__logo" src="../static/images/Logo.jpg" alt="Logo BEvent" width="1000" height="1000"></button></form>
    {% endif %}


    {% if session.get('nome_utente') %}
        <div class="header__titolo" style="margin-left: 365px;">
            BEVENT
        </div>
    {% else %}
        <div class="header__titolo">
            BEVENT
        </div>
    {% endif %}

    {% if session.get('nome_utente') %}
        <div style="display: flex; justify-content: flex-end">
        {% if session.get('ruolo') == "3" %}
            <button class="button-header" ><ion-icon name="chatbubbles-outline" style="font-size: 30px;"></ion-icon></button>
            <form style="padding-top: 11px" action="/logout"> <button class="button-header" ><ion-icon style="font-size: 30px;" name="exit-outline"></ion-icon></button></form>
            <form style="padding-top: 16px;" action="/fornitori" method="post"><button class="button-header">{{ session['nome_utente'] }} </button></form>
        {% elif session.get('ruolo')== "2" %}
            <button class="button-header" ><ion-icon name="chatbubbles-outline" style="font-size: 30px;"></ion-icon></button>
            <form style="padding-top: 11px" action="/logout"> <button class="button-header" ><ion-icon style="font-size: 30px;" name="exit-outline"></ion-icon></button></form>
            <form style="padding-top: 16px;" action="/area_organizzatore" method="post"><button class="button-header">{{ session['nome_utente'] }}</button></form>
        {% elif session.get('ruolo')== "1" %}
            <button class="button-header" ><ion-icon name="chatbubbles-outline" style="font-size: 30px;"></ion-icon></button>
            <form style="padding-top: 11px" action="/logout"> <button class="button-header" ><ion-icon style="font-size: 30px;" name="exit-outline"></ion-icon></button></form>
            <form style="padding-top: 16px;;" action="{{ url_for('views.admin_page') }}"><button class="button-header">{{ session['nome_utente'] }} </button></form>
        {% endif %}
        </div>
    {% else %}
        <div style="display: flex; justify-content: flex-end">
        <button class="button-header" ><ion-icon name="chatbubbles-outline" style="font-size: 30px;"></ion-icon></button>
        <button class="button-header" ><ion-icon style="font-size: 30px;" name="exit-outline"></ion-icon></button>
        <button class="button-header" id="modal-button"><lord-icon src="https://cdn.lordicon.com/bgebyztw.json" trigger="hover" colors="primary:#000000,secondary:#fe8415" style="width:50px;height:50px"></lord-icon></button>
        </div>

    {% endif %}

</div>

<div id="myModal" class="modal">
	<div class="modal-container slideDown" id="modal-container">
        <div class="form-container sign-up">
            <form id="registrazione" action="/registrazione_organizzatore_page">
                <h1 style="color: #fda067;">CREA IL TUO ACCOUNT</h1>
                <p style="color: #f68b44; font-size: 17px; "> Sei un Organizzatore o un Fornitore?</p>
                <select name="ruolo" id="dropdown">
                    <option value="2" selected>Organizzatore</option>
                    <option value="3">Fornitore</option>
                </select>
                <button>Registrati</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="POST">
                <h1 style="color: #fda067;">BENTORNATO!</h1>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button value="accesso" name="accesso">Accedi</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1 >BENTORNATO!</h1>
                    <p>Se possiedi un account, accedi da qui <ion-icon name="arrow-down-outline"></ion-icon></p>
                    <button class="hidden" id="login">Accedi</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>BENVENUTO!</h1>
                    <p>Non possiedi ancora un account? Registrati da qui <ion-icon name="arrow-down-outline"></ion-icon></p>
                        <button class="hidden" id="register">Registrati</button>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="../static/js/Header.js"></script>
    <script src="../static/js/Header2.js"></script>
    <script src="../static/js/Header3.js"></script>
</html>