<!DOCTYPE html>
<html lang="it">
<head>
        <title></title>
        <link rel="stylesheet" href="../static/style/Header.css">

</head>
<header class="header">
<div class="header__content">
    <a href="Home.html">
      <img class="header__logo" src="../static/images/Logo.jpg" alt="Logo BEvent" width="1000" height="1000">
    </a>
<div class="header__titolo">
    BEVENT
</div>

    {% if session.get('nomeutente') %}
        {% if session.get('fornitore') %}
            <li><a><form action="{{ url_for('views.fornitore_page') }}"><button class="button">{{ session['nomeutente'] }} <span></span> <ion-icon name="person-circle-outline"></ion-icon></button></form></a></li>
        {% else %}
            <li><a><form action="{{ url_for('views.organizzatore_page') }}"><button class="button">{{ session['nomeutente'] }} <span></span> <ion-icon name="person-circle-outline"></ion-icon></button></form></a></li>
        {% endif %}
    {% else %}
        <div style="display: flex; justify-content: flex-end">
        <button class="button" ><ion-icon name="chatbubbles-outline" style="font-size: 30px;"></ion-icon></button>
        <button class="button" ><ion-icon name="chatbubble-ellipses-outline" style="font-size: 30px;"></ion-icon></button>
        <button class="button" id="modal-button"><lord-icon src="https://cdn.lordicon.com/bgebyztw.json" trigger="hover" colors="primary:#000000,secondary:#fe8415" style="width:50px;height:50px"></lord-icon></button>
        </div>
    {% endif %}
</div>

<div id="myModal" class="modal">
	<div class="container slideDown" id="container">
        <div class="form-container sign-up">
            <form id="registrazione" action="/registrazione_organizzatore_page">
                <h1 style="color: #fda067;">Crea il tuo Account</h1>
                <p style="color: #f68b44; font-size: 17px; "> Sei un Organizzatore o un Fornitore?</p>
                <select name="dropdown" id="dropdown">
                    <option value="organizzatore" selected>Organizzatore</option>
                    <option value="fornitore">Fornitore</option>
                </select>
                <button>Registrati</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="POST">
                <h1 style="color: #fda067;">Bentornato!</h1>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button>Accedi</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1 >Bentornato!</h1>
                    <p>Se possiedi un account, accedi da qui <ion-icon name="arrow-down-outline"></ion-icon></p>
                    <button class="hidden" id="login">Accedi</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Benvenuto!</h1>
                    <p>Non possiedi ancora un account? Registrati da qui <ion-icon name="arrow-down-outline"></ion-icon></p>
                        <button class="hidden" id="register">Registrati</button>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="../static/js/Header.js"></script>
    <script src="../static/js/Header2.js"></script>
    <script src="../static/js/Header3.js"></script>
</html>