<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La tua Pagina Evento</title>
<link rel="stylesheet" href="../static/style/HomeOrganizzatore.css">
</head>
<body>


<header>
{% include 'Header.html' %}
</header>
<br>
<!--{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}-->
<div class="upper-division">
    <div class="left">

      <form action="/scelta_evento_da_creare_page" >
          <button class="bottone-invisibile" >
            <h1 class="movimentoH1">Crea il tuo evento</h1>
          </button>
          </form>
         <!-- {% if session.logged %}
                <form action="/logout">
                    <button type="submit">Logout</button>
                </form>
            {% endif %}-->

    </div>

    <div class="split right">
      <div class="centered">
          <button class="bottone-invisibile">
            <h1 class="movimentoH1">Trova l'evento per te</h1>
          </button>
      </div>
    </div>
</div>
<div class="lower-division">
        <div class="divisione_destra">
            <h2 class="h2">Fornitori del tuo evento</h2>
                <div class="grind-container">
                    <div class="grind-item">
                        <form action="AreaOrganizzatore.html">
                            <button class="button">
                                <div class="icon">
                        <lord-icon
                            src="https://cdn.lordicon.com/laqlvddb.json"
                            trigger="hover"
                            state="hover-partial-roll"
                            colors="primary:#121331,secondary:#e88c30"
                            style="width:50px;height:50px">
                        </lord-icon>
                        </div>

                                </button>
                        </form>
                            <div class="service-title">Location</div>
                        <form action="AreaOrganizzatore.html">
                            <button class="button"></button>
                        </form>

                    </div>
                    <div class="grind-item">
                        <form action="AreaOrganizzatore.html">
                            <button class="button">
                        <div class="icon">
                        <lord-icon
                            src="https://cdn.lordicon.com/nsgykrsg.json"
                            trigger="hover"
                            colors="primary:#121331,secondary:#e88c30"
                            style="width:50px;height:50px">
                        </lord-icon></div>
                                </button>
                        </form>
                        <div class="service-title">Musica e Luci</div>
                        <form action="AreaOrganizzatore.html">
                            <button class="button"></button>
                        </form>
                    </div>
                </div>
                <div class="grind-container">
                    <div class="grind-item">
                        <form action="AreaOrganizzatore.html">
                            <button class="button">
                        <div class="icon">
                        <lord-icon
                            src="https://cdn.lordicon.com/ppwsfvnn.json"
                            trigger="hover"
                            colors="primary:#121331,secondary:#e88c30"
                            style="width:50px;height:50px">
                        </lord-icon></div>
                                </button>
                        </form>
                        <div class="service-title">Fotografo</div>
                        <form action="AreaOrganizzatore.html">
                            <button class="button"></button>
                        </form>
                    </div>
                    <div class="grind-item">
                        <form action="AreaOrganizzatore.html">
                            <button class="button">
                        <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/lmpjunbf.json"
                            trigger="hover"
                            colors="primary:#121331,secondary:#e88c30"
                            style="width:50px;height:50px">
                        </lord-icon></div>
                                </button>
                        </form>

                        <div class="service-title">Fiorario e Decorazioni</div>
                        <form action="AreaOrganizzatore.html">
                            <button class="button"></button>
                        </form>
                    </div>
                </div>




        </div>
        <div class="divisione_sinistra">
            <div class="superiore">
                <h2 class="h2">Tutto sul tuo evento</h2>
                        <div class="card-container">

                        <div class="card">
                            <span style="font-size: 30px; font-weight: bold">Antonio & Daria</span>
                            <p>21 settembre 2024</p>

                        </div>

                        <!-- Card per i servizi -->
                        <div class="card">
                            <div class="superiore-card">
                            <lord-icon
                                src="https://cdn.lordicon.com/lenjvibx.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#e88c30"
                                style="width:50px;height:50px">
                            </lord-icon>
                            </div>
                            <div class="inferiore-card">
                            <span>I tuoi servizi</span>
                            <br>
                            <p>10</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="superiore-card">
                            <lord-icon
                                src="https://cdn.lordicon.com/bgebyztw.json"
                                trigger="morph"
                                state="morph-group"
                                colors="primary:#121331,secondary:#e88c30"
                                style="width:50px;height:50px">
                            </lord-icon>
                            </div>
                            <div class="inferiore-card">
                            <span>Invitati confermati</span>
                            <br>
                            <p>5 di 500</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="superiore-card">
                            <lord-icon
                                src="https://cdn.lordicon.com/wyqtxzeh.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#e88c30"
                                style="width:50px;height:50px">
                            </lord-icon>
                            </div>
                            <div class="inferiore-card">
                            <span>Budget</span>
                            <br>
                            <p>10.000$</p>
                            </div>
                        </div>
                <div class="card button-card">
                    <form action="RiepilogoScelte.html">
                <button class="orange-button">Scheda Completa>></button>
                        </form>
                </div>
            </div>

            </div>
            <div class="inferiore">
                <h2 class="h2">Prossimi eventi</h2>
                <div class="event-card-container">
                    <!-- Card Evento 1 -->
                    <button class="event-card" onclick="location.href='url_evento_1';">
                        <img src="../static/images/Cerca.jpg" alt="DJ Lorem">
                    </button>

                    <!-- Card Evento 2 -->
                    <button class="event-card" onclick="location.href='url_evento_2';">
                        <img src="../static/images/Musica.jpg" alt="Orchestra Sinfonica">
                    </button>
                    <div class="card button-card">
                        <form action="/visualizza_eventi" method="post">
                <button class="orange-button">Tutti gli eventi>></button>
                            </form>
                </div>
                    <!-- Aggiungi altre card come necessario... -->
                </div>


            </div>
        </div>
</div>







    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
