<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La tua Pagina Evento</title>
<link rel="stylesheet" href="../static/style/Home.css">
</head>
<body>



<header>
{% include 'Header.html' %}
</header>
    {% if not session.get('nome_utente') %}
    <div class="split left">
      <div class="centered">
          <button  id="modal-button-home" class="bottone-invisibile" >
            <h1 class="movimentoH1">
                Crea il tuo evento
            </h1>
          </button>

      </div>
    </div>
    {% else %}
    <div class="split left">
      <div class="centered">
       <form action="/scelta_evento_da_creare_page" >
          <button class="bottone-invisibile" >
            <h1 class="movimentoH1">
                Crea il tuo evento
            </h1>
          </button>

          </form>
      </div>
    </div>
    {% endif %}
    <div class="split right">
      <div class="centered">
          <form action="/visualizza_eventi" method="post">
          <button  class="bottone-invisibile" >
            <h1 class="movimentoH1">
                Trova L'evento per te
            </h1>
          </button>
          </form>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../static/js/Header.js"></script>
</body>
</html>
