<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La tua Pagina Evento</title>
<link rel="stylesheet" href="Home.css">
</head>
<body>
<h1>Benvenuto sulla homepage</h1>

<header>
    <nav>
        <!-- Metti qui il tuo logo e i link di navigazione -->
    </nav>
</header>
<main>
    <section class="intro">
        <h1>Crea il tuo evento</h1>
        <h2>Trova l'evento per te</h2>
    </section>
    <section class="event-countdown">
        <article>
            <h3>Antonio & Daria</h3>
            <p>21 settembre 2024</p>
            <!-- Dettagli conto alla rovescia -->
        </article>
        <article>
            <!-- Dettagli servizi -->
        </article>
    </section>
    <section class="upcoming-events">
        <!-- Griglia per eventi futuri -->
    </section>

    <form action="/login_page" method="get">
        <button> Loginnnn</button>

    </form>
</main>
<footer>
    <!-- Informazioni footer qui -->
</footer>
</body>
</html>
