<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Benvenuto nella tua area personale!</h1>
    <p>Seleziona la tua area personale in base al tuo ruolo:</p>

    {% if ruolo == '3' %}
        <!-- Bottone/link per l'area Fornitore -->
        <a href="AreaFornitore.css" class="button">Vai all'Area Fornitore</a>
    {% elif ruolo == '2' %}
        <!-- Bottone/link per l'area Organizzatore -->
        <a href="AreaOrganizzatore.css" class="button">Vai all'Area Organizzatore</a>
    {% elif ruolo == '1' %}
        <!-- Bottone/link per l'area Admin -->
        <a href="AreaAdmin.css" class="button">Vai all'Area Admin</a>
    {% else %}
        <p>Ruolo non riconosciuto.</p>
    {% endif %}
</body>
</html>