<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ricerca Evento</title>
    <link rel="stylesheet"  type="text/css" href="../static/style/RicercaEvento.css">
</head>
<body>
    <div class="search-bar">
        <div class="search-group">
            <label for="search-input" class="search-label">Località</label>
            <input type="text" id="search-input" class="search-input">
        </div>
        <div class="search-group">
            <label for="tipo-evento-select" class="search-label">Tipo di Evento</label>
            <select id="tipo-evento-select" class="search-select">
                <option value="dj-set">Dj Set</option>
                <!-- Altre opzioni qui -->
            </select>
        </div>

        <div class="search-group">
            <br>
             <button class="search-button">Cerca</button>
        </div>
    </div>

    <div class="gallery">
        <!-- Ripeti questo blocco per ogni immagine -->
        <div class="poster">
            <img src="../static/images/Cerca.jpg" alt="Poster evento">
        </div>
        <div class="poster">
            <img src="../static/images/Cerca.jpg" alt="Poster evento">
        </div>
        <div class="poster">
            <img src="../static/images/Cerca.jpg" alt="Poster evento">
        </div>
        <div class="poster">
            <img src="../static/images/Cerca.jpg" alt="Poster evento">
        </div>

        <!-- Altri poster qui -->
    </div>

</body>
</html>