<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizzazione Eventi</title>

        <link rel="stylesheet" href="../static/style/RiepilogoScelte.css">
</head>
<body  style="height: 100%; overflow: hidden">
<header>
{% include 'Header.html' %}
</header>

<p class="projTitle textGradient">Il Tuo Riepilogo!</p>

<div class="container-principale">
    <div class="grid-container watch fade-in">
        <div class="grid watch fade-in">

            {% for servizio in servizi %}
                    <div class="container2 watch fade-in ">
                    <div class="card2">
                        <div class="face3 face4">
                            <div class="content2">
                                <img src="data:image/jpeg;base64,{{ servizio.foto_servizio[0] }}">
                                <h3>{{ servizio.tipo }} </h3>
                            </div>
                        </div>
                        <div class="face3 face5">
                            <div class="content2">
                                <p><b>{% for fornitore in fornitori %} {% if fornitore.id == servizio.fornitore_associato %}
                            {{ fornitore.nome_utente }} {% endif %} {% endfor %}</b></p>
                                <p>{{ servizio.descrizione }}, {{ servizio.prezzo }}&euro;</p>
                                    <form action="/elimina_servizio" method="post">
                                    <button style="border: none; background: transparent" id="{{ servizio._id }}" name="id_servizio" value="{{ servizio._id }}">Elimina Servizio</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                    </div>

            {% endfor %}


            </div>
    </div>

</div>

<div class="container-bottoni " >

    <button class="button2">Elimina</button>
    <button class="button2">Salva bozza</button>
    <button class="btn">
        <span class="icon">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </span>
        <span class="text">Prenota</span>
    </button>

</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../static/js/SceltaFornitore2.js"></script>
</body>
</html>