<!DOCTYPE html>
<html lang="it">
<head>
        <title>Fornitori</title>
        <link rel="stylesheet" href="../static/style/SceltaFornitore.css">

</head>



<body  style="height: 100%;">
<header>
{% include 'Header.html' %}
</header>

<p class="projTitle textGradient">Scegli i Tuoi Fornitori</p>
<div class="container-principale">

    <div class="left-column">
    <div class="search-container watch fade-in">
	<form action="" class="search-bar">
		<input name="cerca" type="text" placeholder="cerca...">
	<lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="hover" colors="primary:#000,secondary:#ff7800" style="width:45px;height:45px"></lord-icon>

	</form>

	<button id="modal-button2">
	<ion-icon name="filter-circle-outline" style="width:45px;height:45px; color:#ff7800;"></ion-icon>
	</button>

</div>

 <div id="myModal2" class="modal2">
	<div class="modal-container2 slideDown" id="modal-container2">
        <div class="form-container2 sign-up">
            <form id="registrazione" action="/registrazione_organizzatore_page">
                <h1 style="color: #fda067;">Crea il tuo Account</h1>
                <p style="color: #f68b44; font-size: 17px; "> Sei un Organizzatore o un Fornitore?</p>
                <select name="dropdown" id="dropdown">
                    <option value="organizzatore" selected>Organizzatore</option>
                    <option value="fornitore">Fornitore</option>
                </select>
                <button>Registrati</button>
            </form>
        </div>
        <div class="form-container2 sign-in">
            <form action="/login" method="POST">
                <h1 style="color: #fda067;">Bentornato!</h1>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button>Accedi</button>
            </form>
        </div>
        <div class="toggle-container2">
            <div class="toggle2">
                <div class="toggle-panel2 toggle-left2">
                    <h1 >Bentornato!</h1>
                    <p>Se possiedi un account, accedi da qui <ion-icon name="arrow-down-outline"></ion-icon></p>
                    <button class="hidden2" id="login">Accedi</button>
                </div>
                <div class="toggle-panel2 toggle-right2">
                    <h1>Benvenuto!</h1>
                    <p>Non possiedi ancora un account? Registrati da qui <ion-icon name="arrow-down-outline"></ion-icon></p>
                        <button class="hidden2" id="register">Registrati</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="grid-container">

	<div class="grid">

        {% for fornitore in fornitori %}
            {% if fornitore.regione == session.get('regione') %}

        <div class="container watch fade-in">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="data:image/jpeg;base64,{{ fornitore.foto[0] }}">
                    <h3>{{ fornitore.nome_utente }} </h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p> <b>{% for servizio in servizi %} {% if servizio.fornitore_associato == fornitore.id %}
                        {{ servizio.tipo }} {% endif %} {% endfor %}<br></b> <br> {{ fornitore.citta }}, {{ fornitore.regione }}</p>
                        <button style="border: none; background: transparent" id="{{ fornitore.email }}" onclick="aggiornaColonnaDx('{{ fornitore.email }}')"> <a href="#">Visualizza</a></button>
                </div>
            </div>
        </div>
        </div>
            {% endif %}
        {% endfor %}

        {% for fornitore in fornitori %}
            {% if fornitore.regione != session.get('regione') %}
        <div class="container watch fade-in ">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="data:image/jpeg;base64,{{ fornitore.foto[0] }}">
                    <h3>{{ fornitore.nome_utente }} </h3>
                </div>
            </div>
            <div class="face face2">
                <div style="display: flex; flex-wrap: wrap; justify-content: center;" class="content">
                    <p> <b>{% for servizio in servizi %} {% if servizio.fornitore_associato == fornitore.id %}
                        {{ servizio.tipo }} {% endif %} {% endfor %}<br></b> <br> {{ fornitore.citta }}, {{ fornitore.regione }} </p>
                    <button style="border: none; background: transparent" id="{{ fornitore.email }}" onclick="aggiornaColonnaDx('{{ fornitore.email }}')"> <a href="#">Visualizza</a></button>
                </div>
            </div>
        </div>
        </div>
            {% endif %}
        {% endfor %}



        <div class="container watch fade-in ">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../static/images/Intrattenimento.jpg">
                    <h3>Intrattenimento</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        </div>

        </div>
    </div>



    </div>

        <div class="right-column">
        <div class="riepilogo-container watch fade-in">
                <button class="bookmarkBtn">
                  <span class="IconContainer">
                    <svg viewBox="0 0 384 512" height="0.9em" class="icon">
                      <path
                        d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
                      ></path>
                    </svg>
                  </span>
                  <p class="text">Riepilogo Scelte</p>
                </button>

        </div>

                <div class="watch fade-in" style="display: flex; justify-items:center; justify-content: center;">
                <img class="img" src="../static/images/Fioraio.jpg" alt="Immagine">
                </div>
                <h1 class="watch fade-in" style="text-align: center">{{ fornitori[0].nome}}</h1>
                <p class="watch fade-in" style="text-align: center">{{ fornitori[0].descrizione }}</p>
                <p class="projTitle textGradient watch fade-in" style="font-size: 18px; margin-top: 10px;"> Servizi offerti da {{ fornitori[0].nome}}: </p>


                <div class="grid-container-servizi">
                <div class="grid-servizi">
                {% for servizio in servizi %}
                    {% if servizio.fornitore_associato == fornitori[0].id %}
                <div class="container2 watch fade-in ">
                <div class="card2">
                    <div class="face3 face4">
                        <div class="content2">
                            <img src="data:image/jpeg;base64,{{ servizio.foto_servizio[0] }}">
                            <h3>{{ servizio.tipo }} </h3>
                        </div>
                    </div>
                    <div class="face3 face5">
                        <div class="content2">
                            <p>{{ servizio.descrizione }}, {{ servizio.prezzo }}&euro;</p>
                                <button style="border: none; background: transparent" id="{{ servizio._id }}"> <a href="#">Prenota</a></button>
                        </div>
                    </div>
                </div>
                </div>
                    {% endif %}
                {% endfor %}
                </div>
                </div>



        </div>
    </div>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="../static/js/SceltaFornitore.js"></script>
    <script src="../static/js/SceltaFornitore2.js"></script>
    <script src="../static/js/AjaxRicercaFornitori.js"></script>
    <script src="../static/js/AjaxSwapCard.js"></script>

	</body>
</html>