<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evento Da Creare</title>
    <link rel="stylesheet"  type="text/css" href="../static/style/SceltaEventoDaCreare.css">
</head>
<body>
    <div class="container">

        <form action="/visualizza_fornitori" method="post">
            <div class="dropdown-container">
                <label for="tipo_evento">Che tipo di evento vorresti creare?</label>
                    <select id="tipo_evento" name="tipo_evento">
                        <option value="Cerimonia di Laurea">Cerimonia di Laurea</option>
                        <option value="Compleanno">Compleanno</option>
                        <option value="Convention">Convention</option>
                        <option value="Evento Religioso">Evento Religioso</option>
                        <option value="Matrimonio">Matrimonio</option>
                        <option value="Meeting Aziendale">Meeting Aziendale</option>
                        <option value="Altro">Altro</option>
                    </select>
            </div>
            <br>
                <label for="data-evento">In che giorno?</label>
                     <input type="date" id="data-evento" name="data_evento">
            <br>
                <label for="numero_invitati"> Numero di Invitati:</label>
                 <input type="number" id="n_invitati" name="n_invitati">
            <!-- altri campi e pulsanti -->
            <br>
            <button type="submit">Conferma</button>
        </form>
    </div>

</body>
</html>