<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evento Da Creare</title>
    <link rel="stylesheet"  type="text/css" href="../static/style/SceltaEventoDaCreare.css">
</head>
<body>
    <div class="container">

        <form action="#" method="post">
            <div class="dropdown-container">
                <label for="tipo-evento">Che tipo di evento vorresti creare?</label>
                    <select id="tipo-evento" name="tipo-evento">
                        <option value="matrimonio">Matrimonio</option>
                        <option value="matrimonio">Comunione</option>
                        <option value="matrimonio">Compleanno</option>
                        <!-- altre opzioni -->
                    </select>
            </div>
            <br>
                <label for="data-evento">In che giorno?</label>
                     <input type="date" id="data-evento" name="data-evento">

            <!-- altri campi e pulsanti -->
        </form>
    </div>

</body>
</html>